.header-font {
    font-family: 'Lobster', cursive;
}
.header-content {
    text-align: center;
    margin: 2rem 0;
}
.header-nav {
    margin: 1rem 0.5rem;
}
.footer-logo {
    margin-top: 1rem;
    font-family: 'Lobster', cursive;
}
.footer-content {
    text-align: center;
    margin-top: 2rem;
}
.footer-button {
    font-size: 0.9rem;
}
.content-font {
    font-family: 'Gothic A1', sans-serif;
}
.text-center {
    text-align: center;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}