{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
        <div style="mb-4">
            <h4>Delete Commnet : {{ target_comment.content }}</h4>
        </div>
        <div>
            <form action="{% url 'commentapp:delete' pk=target_comment.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger rounded-pill col-6 mt-4">
            </form>
        </div>
    </div>
{% endblock %}