{% extends 'base.html' %}

{% block content %}
    <div style="text-align: center; max-width: 700px; margin: 4rem auto;">
        <div style="border-radius: 2rem;">
            <img src="{{ target_project.image.url }}" alt=""
                 style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; object-fit: cover;">
        </div>
        <h2>
            {{ target_project.title }}
        </h2>
        <h5>
            {{ target_project.description }}
        </h5>
    </div>
{% endblock %}