<div class="header-content">
    <div>
        <h1 class="header-font">ButterCup</h1>
    </div>
    <div>
        <a href="{% url 'articleapp:list' %}" class="header-nav">
            <span>Article</span>
        </a>
        <a href="{% url 'projectapp:list' %}" class="header-nav">
            <span>Project</span>
        </a>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="header-nav">
            <span>Login</span>
        </a>
        <a href="{% url 'accountapp:create' %}" class="header-nav">
            <span>Sign Up</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}" class="header-nav">
            <span>MyPage</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="header-nav">
            <span>Logout</span>
        </a>
        {% endif %}
    </div>
</div>